<footer>
    <div class="footer_info row">
            <div class="col1 about">
                <h4>About</h4>
                <p>E-commerce (electronic commerce) is the activity of electronically
                     buying or selling of products on online services or over the Internet.</p>
                     <div class="div">
                         <ul>
                             <li> <a href="#"><i class="fa fa-facebook-f"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-youtube"></i></a> </li>
                         </ul>
                     </div>
            </div>
            <div class="col1 link">
                <h4>Quick Links</h4>
              <div class="div_link">
                <ul>
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="#">About</a> </li>
                    <li> <a href="#">Services</a> </li>
                    <li> <a href="#">FAQ</a> </li>
                    <li> <a href="#">Contact</a> </li>
                   
                </ul>
              </div>
            </div>
            <div class="col1 contact">
                <h4 >Contact</h4>
                <div class="div_contact">
                    <ul>
                        <li> <a href="#">
                            <span><i class="fa fa-map-marker"></i></span>
                            Route 9, Fishkill NY 12524. 10401 Bennett Road, Fredonia NY 14063.
                        </a></li>
                        <li>
                            <a href="mailto:techwave.123@gmail.com">
                                <span><i class="fa fa-envelope"></i> &nbsp; website@gmail.com</span>
                                
                            </a>
                        </li>
                        <li>
                            <a href="tel:2222222222">
                                <span><i class="fa fa-phone"></i></span>
                                12 3456 7890
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
    </div>
   
       
    
</footer>
<h5> ©Copyrights 2021 Techwave@batch2 . All Rights Reserved.</h5>
