footer{
    width: 100%;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
}
.footer_info
{
    width: 80%;
    display: flex;
    padding:10px;
    margin: 0 auto;
    
}
.footer_info a{
    text-decoration: none;
    color: rgb(78, 76, 76);
}
.footer_info .about ,.contact
 {
     width: 40%;
     
 }

 .footer_info .contact{
     padding-left: 60px;
     text-align: center;
    
 }
 .footer_info .div ul li
 {
     list-style: none;
     display: inline-block;
     
    
     margin-right: 20px;
    
 }
 .footer_info .div ul li i:hover
 {  
     cursor: pointer;
     background-color: white;
     color: darkblue;
     
 }
 .footer_info .div_link ul li
 {
     list-style: none;
     padding: 3px 0px;
 }
 .footer_info .div_link ul li a:hover
 {
     color: whitesmoke;
 }
 .footer_info .div_contact ul li
 {
     list-style: none;
    text-align: right;
     padding: 5px 0px;
     
 }
 .footer_info .div_contact ul li span
{   
    padding-right: 5px;

}
 .footer_info .div_contact ul li a:hover
 {
     color: whitesmoke;
 }
 .footer_info .about h4
 {
     color:whitesmoke;
    width: 90px;
    text-align: center;
     border-bottom:2px solid red;
 }
 .footer_info .link h4
 {
     color:whitesmoke;
    
     border-bottom:2px solid red;
 }
 .footer_info .contact h4
 {
     color:whitesmoke;
    border-bottom:2px solid red;
    
     
 }
 .footer_info .col1 p
 {  
     color: rgb(78, 76, 76);
     
 }
 h5
 {
     background-color: rgb(80, 79, 79);
     color: white;
    text-align: center;
    padding: 5px ;
 }

 @media screen and (max-width:820px)
 {
     .link{
         margin-left: 120px;
     }
     .contact
     {
         width: 100%;
         align-items: center;
         margin-right: 220px;
     }
 }
 @media screen and (max-width:730px)
 {
     .footer

{
    padding: 0px;

}   
  .footer_info
     {
        padding: 20px;
         width: 100%;
     }
     .about{
         margin-left: 100px;
        
     }
     .contact{
        margin-right: 90px;
     }
     h5
     {
         font-size: 18px;
     }
 }
 @media screen and (max-width:630px)
 {
     .footer_info
     {
         margin:0px;
         padding:0px;
     }
     .link{
        margin-left: 60px;
     }
     h5
     {
         font-size: 12px;
     }
 }
 @media screen and (max-width:535px)
 {
     .about
     {
        margin-left: 60px;
     }
     .about ul {
        padding: 0px;
     }
 }
 @media screen and (max-width:470px)
 {
     .footer_info .about{
        width: 100%;
        margin-left: 35px;
 }
 .link{
     margin-left:100px;
 }
    
 .contact{
   padding-left: 0px;
   padding-right: 10px;
   margin-right: 10px;
    width: 100%;
 }
 .contact ul
 {
    padding-left: 0px;
 }
 }