<div class="nav">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown col-md-4">
              <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Apparals
              </a>
              <div class="dropdown-menu titlelist" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Men</a>
                <a class="dropdown-item" href="#">Women</a>
                <a class="dropdown-item" href="#">Kids</a>
              </div>
            </li>
            <li class="nav-item dropdown col-md-4">
              <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Electronics
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mobiles</a>
                <a class="dropdown-item" href="#">Laptops</a>
                <a class="dropdown-item" href="#">Home appliances</a>
              </div>
            </li>
            <li class="nav-item dropdown col-md-4">
              <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Home & Furnishing
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Kitchen</a>
                <a class="dropdown-item" href="#">Furniture</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div>

<!--CAROUSEL-->
<div id="demo" class="carousel slide text-center bg-secondary mt-1" data-ride="carousel">
    <ul class="carousel-indicators">
        <li class="active" data-target="#demo" data-slide-to="0" ></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="../../assets/images/sliders/caru-laptops.png" id="carousel" class="img-fluid" alt="laptops" >
            <div class="carousel-caption h3 text-dark">
                laptops
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/sliders/caru-kitchen.jpg" class="img-fluid" alt="kitchen" id="carousel">
            <div class="carousel-caption h3 text-dark">
                kitchen
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/sliders/caru-funiture.jpg" class="img-fluid" alt="funiture" id="carousel">
            <div class="carousel-caption h3 text-dark">
                funiture
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/sliders/dress.jpg" class="img-fluid" alt="shopping"id="carousel">
            <div class="carousel-caption h3 text-dark">
                 <p  class="text-dark">shopping</p> 
            </div>
        </div>
    </div>
  
    <a href="#demo" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#demo" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
  </div>