
<div class="product-title" data-aos="flip-up">
    <h6>Product Types</h6>
</div>
<!-- cards -->
 
<div class="row" style="text-align:center" data-aos="fade-left" data-aos-delay="800">
  
     
    <!-- Apparels -->
      <div class="col-md-4">
    <div class="row align-items-center" >
      <div class="card apparels" >
        <div  id="card">
            <h2 class="mb-4">Apparels</h2>
            <p style="color:black" class="mb-4"> Men’s ,Women’s wear and Kids wear</p>
         
              <div class="card-body">        
                      <img style=" width: 301px;height: 165px;" src="../../assets/images/Apparels.jpg" alt="Image" class="img-fluid">
              </div>
                <p  ><a routerLink="/products/apparels"  class="btn btn-info">For more Details</a></p>
            </div>
          </div>
        </div>
        </div>
     
        
     
        <!-- Electronics -->
        <!-- ////222/// -->
          <div class="col-md-4">
          <div class="row align-items-center" >
            <div class="card">
                  <h2 class="mb-4">Electronics</h2>
                  <p style="color:black" class="mb-4"> Mobiles,Laptops and Home appliances</p>
               
                    <div class="card-body">        
                            <img style=" width: 301px;height: 165px;" src="../../assets/images/Mobiles,Laptops and Home appliances.jpeg" alt="Image" class="img-fluid">
                    </div>
                      <p ><a  routerLink="/products/apparels"  class="btn btn-info">For more Details</a></p>
                  </div>
                </div>
              </div>
     
            
     
              <!-- Home and Kitchen -->
              <!-- ////3//// -->
               <div class="col-md-4 home">
                <div class="row align-items-center"  >
                  <div class="card">
                        <h2 class="mb-4" id="home">Home and Kitchen</h2>
                        <p style="color:black" class="mb-4">Kitchen items and Home furnishings</p>
                     
                          <div class="card-body">        
                                  <img style=" width: 301px;height: 165px;" src="../../assets/images/Kitchen items and Home furnishings.png" alt="Image" class="img-fluid">
                          </div>
                            <p><a routerLink="/products/apparels" class="btn btn-info">For more Details</a></p>
                        </div>
                      </div>
     
                    </div>
                    </div>