
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="navbar-collapse justify-content-center">
          <ul class="navbar-nav " style="font-weight: bold">
            <li class="nav-item mr-5"><a routerLink="mobiles" class="nav-link">Mobiles</a></li>
            <li class="nav-item mr-5"><a routerLink="laptops" class="nav-link">Laptops</a></li>
            <li class="nav-item mr-5"><a routerLink="smartwears" class="nav-link">Smart Wearables</a></li>
            <li class="nav-item"><a routerLink="audio" class="nav-link">Audio</a></li>
          </ul>
        </div>
      </nav>
    
      <div class="container">
        <router-outlet></router-outlet>
      </div>
