
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 "></div>
        
        <div class="col-sm-4 mt-5">
            <div class="jumbotron bg-dark text-white">
              <h1 class="text-center">Login</h1>
                <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
                 
                  <div class="form-group mt-2">
                    <label for="Mobilenumber" class="text-left">Mobilenumber:</label>
                    <input type="text" name="Mobilenumber" id="Mobilenumber" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-left">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" ngModel>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-warning">login</button>
                  </div>
                  </form>
                  <div class="row">
                    
                      <div class="text-right text-white">
                        <a style="margin-left:220px" routerLink="/headerfooter/forgotpassword" class="text-white">Forgot Password?</a>
                    </div>
                </div>
                <div class="text-center">
                    New User?<a routerLink="/headerfooter/register"> Sign up</a>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4 "></div>
    </div>
  </div>